body {
    padding: 50px 0;
    font-family: sans-serif;
    font-weight: 200;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5em;
}

#charactersList {
    padding: 0;
    margin: 0;
        max-height: 60vh;
    overflow: scroll;
}

#charactersList li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
} 


#charactersList p {
    line-height: 20px;
    margin-bottom: 5px;
} 

form input, form label {
    width: 100%;
}

form input[type="submit"] {
    margin-top: 20px;
}